.icons-btn {
  background: transparent;
  border: 0px;
  padding: 0;
  font-size: 3.5vh;
}

.icons-btn:hover {
  background: transparent;
}

#resumeButton {
  font-size: 2.2vh;
  height: auto;
  width: auto;
}

#dark-mode-button > svg {
  width: inherit;
  height: inherit;
}

#avatar > div {
  border-radius: 50%;
  border: 8px solid var(--dark-color);
  box-shadow: 0px 10px 30px 7px var(--border-color);

  background: #f4f6f8;
  object-fit: contain;
}
