@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --bg-primary-light: #f8f9fa;
  --bg-secondary-light: #e9ecef;
  --text-primary-light: #212529;
  --text-secondary-light: #6c757d;
  --element-bg-light: #dee2e6;
  --border-color-light: #ced4da;
  --accent-color-light: #adb5bd;
  --dark-color-light: #343a40;
  --light-color-light: #495057;
  --overlay-light: #f5f5f572;

  /* Dark mode colors */
  --bg-primary-dark: #212529;
  --bg-secondary-dark: #343a40;
  --text-primary-dark: #f8f9fa;
  --text-secondary-dark: #adb5bd;
  --element-bg-dark: #495057;
  --border-color-dark: #6c757d;
  --accent-color-dark: #ced4da;
  --dark-color-dark: #adb5bd;
  --light-color-dark: #e9ecef;
  --overlay-dark: #0000002f;

  /* Initial colors */
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --element-bg: var(--element-bg-light);
  --border-color: var(--border-color-light);
  --accent-color: var(--accent-color-light);
  --dark-color: var(--dark-color-light);
  --light-color: var(--light-color-light);
  --overlay-color: var(--overlay-light);

  --off-white: rgba(255, 255, 255, 0.9);
}

.dark-mode {
  /* Dark mode */
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --element-bg: var(--element-bg-dark);
  --border-color: var(--border-color-dark);
  --accent-color: var(--accent-color-dark);
  --dark-color: var(--dark-color-dark);
  --light-color: var(--light-color-dark);
  --overlay-color: var(--overlay-dark);
}

body {
  background: var(--bg-primary);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family: var(--font-poppins);
}

body::-webkit-scrollbar {
  display: none;
}

.secondary-bg {
  background: var(--bg-secondary) !important;
}

.secondary-bg > section {
  background: var(--bg-secondary) !important;
}

h1 {
  color: var(--text-primary);
  font-size: 6.5vh;
  font-weight: bold;
}

h3 {
  color: var(--text-secondary);
  font-size: 5vh;
}

strong {
  color: var(--text-primary);
}

p,
div,
span {
  color: var(--text-primary);
  /* font-size: 3vh; */
}

/* .text-heading {
    font-size: 4vh;
    font-weight: bold;
  }

  .text-subheading {
    color: var(--text-secondary);
  } */

button {
  background: var(--element-bg);
  color: var(--text-primary);
  font-size: 2.7vh;
  padding: 5px 7px;
  border-radius: 7pt;
  border: 1px solid var(--border-color);
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  background: var(--border-color);
  /* color: var(--text-primary); */
}

#dark-mode-button {
  background: transparent;
  border: 0px;
}

#dark-mode-button:hover {
  transform: none;
  background: transparent;
}

section {
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
  /* padding: 2% 4%; */
  position: relative;
  background: var(--bg-primary);
}

ul {
  list-style: disc;
  padding-left: 5%;
}

/* .transition-container {
  overflow: visible !important;
} */

.transition-text {
  height: "5vh";
  position: "absolute";
  background: var(--accent-color);
}

@media screen and (min-width: 48rem) {
  ul {
    padding-left: 2%;
  }
}
