/* .logo-container {
    min-height: 80vh;
} */

.logo-wrapper {
  background: var(--off-white);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 12pt;

  box-shadow: 0px 10px 16px -1px var(--border-color);
}

.logo-wrapper svg {
  background: var(--off-white);
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.logo-text {
  padding-top: 2px;
  font-size: 8pt;
  color: var(--text-secondary);
}
